.nav
  %h3.nav-title More ...
  %a.nav-close{href: '#'}
    %span.hidden Close
  - tag_navigation = {}
  - blog.tags.each do |tag, articles|
    - tag_navigation[tag.capitalize] = "/tag/#{tag.downcase}"
  - navigation.merge!(tag_navigation.to_h)
  %ul
    - navigation.try(:each) do |label, href|
      - css_class = %W(nav-#{label.parameterize})
      - css_class << "nav-current" if current_page.url == href
      %li{class: css_class.join(' '), role: :presentation}
        /%a{href: href}= label
        yes
        = link_to label, href
  %a.subscribe-button.icon-feed{href: feed_path} Subscribe
%span.nav-cover
